
*{
  margin: auto;
  background-color:black;
  padding-top:10px;
}
p
{
font-size:40px;
color:white;
letter-spacing:45px;
font-weight:bold;
text-align:center;
font-family:arial;
}
#border
{
border-bottom:18px solid rgb(51,255,255);
width:40%;
}